<div class="bio ms-3">
    <h2 class="greeting"><% if (config.greeting){ %><%= config.greeting %><% } %></h2>
    <p class="description"><% if (config.description){ %><%= config.description %><% } %></p>
</div>