<h2><%- page.title %></h2>

<%- page.content %>

<h1 class="text-center my-5"><strong><%- page.fact %></strong></h1>
<h1 class="text-center my-5"><%- page.greeting %><br><strong>You're <s>curious person</s> kemal (FYI kemal = kepo maksimal).</strong></h1>
