/*
 * Globals
 */

body {
    font-family:  "Inter", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #222;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
}
.border-bottom {
    border-bottom: 1px solid #222 !important;
}
a {
    color: #222 ;
    text-decoration: none !important;
    
}
a, a:active{
    color: blue;
}

/*
 * Override Bootstrap's default container.
 */
 @media (min-width: 992px){
  .container{
    max-width:970px;
  }
}

ul {
  list-style: none;
  font-weight: 500;
  font-size: large;
}

li {
  display: inline-block;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/*
 * Blog name and description
 */

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.post {
    margin-bottom: 60px;
}
.post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */
