<div class="header mt-5">
    <h1 class="mb-3"><s><%= theme.title %></s></h1>

    <ul class="p-0">
        <% for (var i in theme.menu){ %>
            <li><span><a  class="me-3" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></span></li>
        <%} %>
        <hr class="border-bottom mb-1">
    </ul>
</div>
