<div class="masthead">
    <div class="container">
        <ul>
            <% for (var i in theme.menu){ %>
                <li><span><a  class="" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></span></li>
            <%} %>
        </ul>
        <hr class="border-bottom">
        <div class="bio">
            <h2 class="greeting"><% if (config.greeting){ %><%= config.greeting %><% } %></h2>
            <p class="description"><% if (config.description){ %><%= config.description %><% } %></p>
        </div>
    </div>
</div>
